In [3]:
import pandas as pd
analyst_ratings = pd.read_csv("analyst_ratings.csv")
companies = pd.read_csv("company_master.csv")
snowflake_metrics = pd.read_csv("snowflake_ir_metrics.csv")
peer_metrics = pd.read_csv("data_peer_financial_metrics.csv")  
transcripts = pd.read_csv("earnings_transcripts.csv")

In [4]:
display(analyst_ratings.head())
display(snowflake_metrics.head())
display(peer_metrics.head())

,RATING_ID,COMPANY,TICKER,ANALYST_FIRM,RATING,PRICE_TARGET,RATING_DATE,NOTES,CREATED_AT
0,115,MongoDB,MDB,Needham,Buy,375.0,2024-12-10,Document model advantage in AI era,2026-01-20 22:03:14.174
1,114,MongoDB,MDB,Stifel,Buy,340.0,2024-12-10,Legacy app modernization opportunity,2026-01-20 22:03:14.174
2,113,MongoDB,MDB,Goldman Sachs,Buy,360.0,2024-12-10,Atlas growth resilient,2026-01-20 22:03:14.174
3,112,MongoDB,MDB,Citi,Buy,380.0,2024-12-10,AI opportunity underappreciated,2026-01-20 22:03:14.174
4,111,MongoDB,MDB,Morgan Stanley,Overweight,350.0,2024-12-10,Raised PT on strong enterprise deals,2026-01-20 22:03:14.174

,PERIOD_END_DATE,FISCAL_YEAR,FISCAL_QUARTER,PRODUCT_REVENUE_M,TOTAL_REVENUE_M,RPO_M,NRR_PERCENT,CUSTOMERS_1M_PLUS,FCF_IN_MILLIONS,GROSS_MARGIN_PERCENT
0,2025-10-31,2026,3,1160.0,1210.0,6900,125,688,110.5,76
1,2024-10-31,2025,3,900.3,942.1,5700,127,542,78.2,76
2,2024-07-31,2025,2,829.3,868.8,5200,127,510,58.1,75
3,2024-04-30,2025,1,789.6,828.7,5000,128,485,351.4,77
4,2024-01-31,2024,4,738.1,774.7,5200,131,461,344.5,76

,METRIC_ID,COMPANY_ID,FILING_ID,PERIOD_END_DATE,FISCAL_YEAR,FISCAL_QUARTER,METRIC_NAME,METRIC_VALUE,METRIC_UNIT,METRIC_CATEGORY,SOURCE_SECTION,CREATED_AT
0,2dd19fbfda89e9da396e,SNOW,NaN,2025-10-31,2026,3,PRODUCT_REVENUE,1160.0,USD_M,FINANCIAL,VERIFIED_EARNINGS,2026-01-22 19:27:09.671
1,21793a75c3be0c32ce90,SNOW,NaN,2025-10-31,2026,3,TOTAL_REVENUE,1210.0,USD_M,FINANCIAL,VERIFIED_EARNINGS,2026-01-22 19:27:08.488
2,SNOW_GM_2025-10-31,SNOW,NaN,2025-10-31,2026,3,PRODUCT_GROSS_MARGIN,76.0,PERCENT,NaN,VERIFIED_EARNINGS,2026-01-22 20:21:39.655
3,SNOW_FCF_2025-10-31,SNOW,NaN,2025-10-31,2026,3,FREE_CASH_FLOW,110.5,USD_M,NaN,VERIFIED_EARNINGS,2026-01-22 20:21:39.655
4,26f94c45bb044b72f6d7,SNOW,NaN,2025-10-31,2026,3,CUSTOMERS_1M_PLUS,688.0,COUNT,OPERATIONAL,VERIFIED_EARNINGS,2026-01-22 19:27:12.162

In [5]:
snowflake_metrics = snowflake_metrics.sort_values("PERIOD_END_DATE")

snowflake_metrics["REVENUE_GROWTH_QOQ"] = snowflake_metrics["TOTAL_REVENUE_M"].pct_change() * 100
snowflake_metrics["RPO_GROWTH_QOQ"] = snowflake_metrics["RPO_M"].pct_change() * 100

snowflake_metrics.tail()

,PERIOD_END_DATE,FISCAL_YEAR,FISCAL_QUARTER,PRODUCT_REVENUE_M,TOTAL_REVENUE_M,RPO_M,NRR_PERCENT,CUSTOMERS_1M_PLUS,FCF_IN_MILLIONS,GROSS_MARGIN_PERCENT,REVENUE_GROWTH_QOQ,RPO_GROWTH_QOQ
4,2024-01-31,2024,4,738.1,774.7,5200,131,461,344.5,76,5.516208,33.333333
3,2024-04-30,2025,1,789.6,828.7,5000,128,485,351.4,77,6.970440,-3.846154
2,2024-07-31,2025,2,829.3,868.8,5200,127,510,58.1,75,4.838904,4.000000
1,2024-10-31,2025,3,900.3,942.1,5700,127,542,78.2,76,8.436924,9.615385
0,2025-10-31,2026,3,1160.0,1210.0,6900,125,688,110.5,76,28.436472,21.052632

In [6]:
peer_metrics["PERIOD_END_DATE"] = pd.to_datetime(peer_metrics["PERIOD_END_DATE"])

peer_wide = peer_metrics.pivot_table(
    index=["COMPANY_ID", "PERIOD_END_DATE"],
    columns="METRIC_NAME",
    values="METRIC_VALUE",
    aggfunc="first"
).reset_index()

peer_wide.head()

METRIC_NAME,COMPANY_ID,PERIOD_END_DATE,ARR,AWS_REVENUE,AZURE_GROWTH,CLOUD_REVENUE,CUSTOMERS_1M_PLUS,FREE_CASH_FLOW,GROSS_MARGIN,NET_INCOME,NET_REVENUE_RETENTION_RATE,OPERATING_INCOME,PRODUCT_GROSS_MARGIN,PRODUCT_REVENUE,REMAINING_PERFORMANCE_OBLIGATIONS,TOTAL_REVENUE
0,AMZN,2023-06-30,NaN,22140.0,NaN,NaN,NaN,NaN,NaN,6750.0,NaN,7681.0,NaN,NaN,NaN,134383.0
1,AMZN,2023-09-30,NaN,23059.0,NaN,NaN,NaN,NaN,NaN,9879.0,NaN,11188.0,NaN,NaN,NaN,143083.0
2,AMZN,2023-12-31,NaN,24204.0,NaN,NaN,NaN,NaN,NaN,10624.0,NaN,13209.0,NaN,NaN,NaN,169961.0
3,AMZN,2024-03-31,NaN,25037.0,NaN,NaN,NaN,NaN,NaN,10431.0,NaN,15307.0,NaN,NaN,NaN,143313.0
4,AMZN,2024-06-30,NaN,26280.0,NaN,NaN,NaN,NaN,NaN,13485.0,NaN,14672.0,NaN,NaN,NaN,147977.0

In [7]:
peer_metrics["PERIOD_END_DATE"] = pd.to_datetime(peer_metrics["PERIOD_END_DATE"])

peer_wide = peer_metrics.pivot_table(
    index=["COMPANY_ID", "FISCAL_YEAR", "FISCAL_QUARTER"], 
    columns="METRIC_NAME",
    values="METRIC_VALUE",
    aggfunc="first"
).reset_index()

peer_wide.head()

METRIC_NAME,COMPANY_ID,FISCAL_YEAR,FISCAL_QUARTER,ARR,AWS_REVENUE,AZURE_GROWTH,CLOUD_REVENUE,CUSTOMERS_1M_PLUS,FREE_CASH_FLOW,GROSS_MARGIN,NET_INCOME,NET_REVENUE_RETENTION_RATE,OPERATING_INCOME,PRODUCT_GROSS_MARGIN,PRODUCT_REVENUE,REMAINING_PERFORMANCE_OBLIGATIONS,TOTAL_REVENUE
0,AMZN,2023,2,NaN,22140.0,NaN,NaN,NaN,NaN,NaN,6750.0,NaN,7681.0,NaN,NaN,NaN,134383.0
1,AMZN,2023,3,NaN,23059.0,NaN,NaN,NaN,NaN,NaN,9879.0,NaN,11188.0,NaN,NaN,NaN,143083.0
2,AMZN,2023,4,NaN,24204.0,NaN,NaN,NaN,NaN,NaN,10624.0,NaN,13209.0,NaN,NaN,NaN,169961.0
3,AMZN,2024,1,NaN,25037.0,NaN,NaN,NaN,NaN,NaN,10431.0,NaN,15307.0,NaN,NaN,NaN,143313.0
4,AMZN,2024,2,NaN,26280.0,NaN,NaN,NaN,NaN,NaN,13485.0,NaN,14672.0,NaN,NaN,NaN,147977.0

In [8]:
peer_wide = peer_wide.sort_values(["COMPANY_ID", "FISCAL_YEAR", "FISCAL_QUARTER"]).copy()

peer_wide["REVENUE_GROWTH_QOQ"] = (
    peer_wide.groupby("COMPANY_ID")["TOTAL_REVENUE"].pct_change() * 100
)

peer_wide[["COMPANY_ID","FISCAL_YEAR","FISCAL_QUARTER","TOTAL_REVENUE","REVENUE_GROWTH_QOQ"]].tail(10)

METRIC_NAME,COMPANY_ID,FISCAL_YEAR,FISCAL_QUARTER,TOTAL_REVENUE,REVENUE_GROWTH_QOQ
45,SNOW,2024,4,774.7,5.516208
46,SNOW,2025,1,828.7,6.970440
47,SNOW,2025,2,868.8,4.838904
48,SNOW,2025,3,942.1,8.436924
49,SNOW,2026,3,1210.0,28.436472
50,TDC,2023,3,438.0,NaN
51,TDC,2023,4,459.0,4.794521
52,TDC,2024,1,439.0,-4.357298
53,TDC,2024,2,454.0,3.416856
54,TDC,2024,3,440.0,-3.083700

In [9]:
snow_only = peer_wide[peer_wide["COMPANY_ID"] == "SNOW"].copy()

latest_fy = snow_only["FISCAL_YEAR"].max()
latest_fq = snow_only[snow_only["FISCAL_YEAR"] == latest_fy]["FISCAL_QUARTER"].max()

latest_fy, latest_fq

(np.int64(2026), np.int64(3))

In [10]:
snow_periods = set(zip(
    peer_wide[peer_wide["COMPANY_ID"]=="SNOW"]["FISCAL_YEAR"],
    peer_wide[peer_wide["COMPANY_ID"]=="SNOW"]["FISCAL_QUARTER"]
))

peer_periods = set(zip(
    peer_wide[peer_wide["COMPANY_ID"]!="SNOW"]["FISCAL_YEAR"],
    peer_wide[peer_wide["COMPANY_ID"]!="SNOW"]["FISCAL_QUARTER"]
))

shared_periods = sorted(snow_periods.intersection(peer_periods))

shared_periods[-5:], len(shared_periods)

([(2024, 3), (2024, 4), (2025, 1), (2025, 2), (2025, 3)], 11)

In [11]:
shared_fy, shared_fq = 2024, 3
snow_latest = peer_wide[
    (peer_wide["COMPANY_ID"] == "SNOW") &
    (peer_wide["FISCAL_YEAR"] == shared_fy) &
    (peer_wide["FISCAL_QUARTER"] == shared_fq)
]

peer_latest = peer_wide[
    (peer_wide["COMPANY_ID"] != "SNOW") &
    (peer_wide["FISCAL_YEAR"] == shared_fy) &
    (peer_wide["FISCAL_QUARTER"] == shared_fq)
]

snow_latest, peer_latest.head()

(METRIC_NAME COMPANY_ID  FISCAL_YEAR  FISCAL_QUARTER  ARR  AWS_REVENUE  \
 44                SNOW         2024               3  NaN          NaN

 METRIC_NAME  AZURE_GROWTH  CLOUD_REVENUE  CUSTOMERS_1M_PLUS  FREE_CASH_FLOW  \
 44                    NaN            NaN              436.0            82.9

 METRIC_NAME  GROSS_MARGIN  NET_INCOME  NET_REVENUE_RETENTION_RATE  \
 44                    NaN         NaN                       135.0

 METRIC_NAME  OPERATING_INCOME  PRODUCT_GROSS_MARGIN  PRODUCT_REVENUE  \
 44                        NaN                  75.0            698.5

 METRIC_NAME  REMAINING_PERFORMANCE_OBLIGATIONS  TOTAL_REVENUE  \
 44                                      3900.0          734.2

 METRIC_NAME  REVENUE_GROWTH_QOQ
 44                     8.931751  ,
 METRIC_NAME COMPANY_ID  FISCAL_YEAR  FISCAL_QUARTER  ARR  AWS_REVENUE  \
 5                 AMZN         2024               3  NaN      27452.0
 11                DDOG         2024               3  NaN          NaN
 18               GOOGL         2024               3  NaN          NaN
 21                 MDB         2024               3  NaN          NaN
 29                MSFT         2024               3  NaN          NaN

 METRIC_NAME  AZURE_GROWTH  CLOUD_REVENUE  CUSTOMERS_1M_PLUS  FREE_CASH_FLOW  \
 5                     NaN            NaN                NaN             NaN
 11                    NaN            NaN                NaN             NaN
 18                    NaN        11353.0                NaN             NaN
 21                    NaN            NaN                NaN             NaN
 29                   31.0            NaN                NaN             NaN

 METRIC_NAME  GROSS_MARGIN  NET_INCOME  NET_REVENUE_RETENTION_RATE  \
 5                     NaN     15328.0                         NaN
 11                   81.0        62.9                         NaN
 18                    NaN     26301.0                         NaN
 21                   76.0         6.4                         NaN
 29                    NaN     21939.0                         NaN

 METRIC_NAME  OPERATING_INCOME  PRODUCT_GROSS_MARGIN  PRODUCT_REVENUE  \
 5                     17411.0                   NaN              NaN
 11                        NaN                   NaN              NaN
 18                    28521.0                   NaN              NaN
 21                        NaN                   NaN              NaN
 29                    27581.0                   NaN              NaN

 METRIC_NAME  REMAINING_PERFORMANCE_OBLIGATIONS  TOTAL_REVENUE  \
 5                                          NaN       158877.0
 11                                         NaN          690.0
 18                                         NaN        88268.0
 21                                         NaN          432.9
 29                                         NaN        61858.0

 METRIC_NAME  REVENUE_GROWTH_QOQ
 5                      7.366010
 11                     6.927011
 18                     4.160865
 21                     2.147239
 29                    -0.261206  )

In [12]:

peer_counts_by_period = (
    peer_wide[peer_wide["COMPANY_ID"] != "SNOW"]
    .groupby(["FISCAL_YEAR","FISCAL_QUARTER"])["COMPANY_ID"]
    .nunique()
    .reset_index(name="NUM_PEERS")
    .sort_values(["FISCAL_YEAR","FISCAL_QUARTER"])
)

peer_counts_by_period.tail(15)
peer_counts_by_period.sort_values("NUM_PEERS", ascending=False).head(10)

    FISCAL_YEAR  FISCAL_QUARTER  NUM_PEERS
6          2024               3          7
5          2024               2          7
4          2024               1          5
3          2023               4          5
2          2023               3          4
7          2024               4          3
1          2023               2          3
8          2025               1          3
9          2025               2          2
10         2025               3          2

In [13]:


shared_fy, shared_fq = 2024, 3

snow_latest = peer_wide[
    (peer_wide["COMPANY_ID"] == "SNOW") &
    (peer_wide["FISCAL_YEAR"] == shared_fy) &
    (peer_wide["FISCAL_QUARTER"] == shared_fq)
]

peer_latest = peer_wide[
    (peer_wide["COMPANY_ID"] != "SNOW") &
    (peer_wide["FISCAL_YEAR"] == shared_fy) &
    (peer_wide["FISCAL_QUARTER"] == shared_fq)
]

comparison = peer_latest.merge(
    snow_latest[[
        "FISCAL_YEAR",
        "FISCAL_QUARTER",
        "REVENUE_GROWTH_QOQ",
        "TOTAL_REVENUE",
        "NET_INCOME",
        "OPERATING_INCOME",
        "FREE_CASH_FLOW",
        "CUSTOMERS_1M_PLUS",
        "NET_REVENUE_RETENTION_RATE",
        "REMAINING_PERFORMANCE_OBLIGATIONS",
        "ARR"
    ]],
    on=["FISCAL_YEAR","FISCAL_QUARTER"],
    suffixes=("_PEER","_SNOWFLAKE")
)

final_view = comparison[[
    "COMPANY_ID",
    "REVENUE_GROWTH_QOQ_PEER",
    "REVENUE_GROWTH_QOQ_SNOWFLAKE",
    "TOTAL_REVENUE_PEER",
    "TOTAL_REVENUE_SNOWFLAKE",
    "NET_INCOME_PEER",
    "NET_INCOME_SNOWFLAKE",
    "OPERATING_INCOME_PEER",
    "OPERATING_INCOME_SNOWFLAKE",
    "FREE_CASH_FLOW_PEER",
    "FREE_CASH_FLOW_SNOWFLAKE",
    "ARR_PEER",
    "ARR_SNOWFLAKE",
    "REMAINING_PERFORMANCE_OBLIGATIONS_PEER",
    "REMAINING_PERFORMANCE_OBLIGATIONS_SNOWFLAKE"
]]

final_view.sort_values("REVENUE_GROWTH_QOQ_PEER", ascending=False)

METRIC_NAME,COMPANY_ID,REVENUE_GROWTH_QOQ_PEER,REVENUE_GROWTH_QOQ_SNOWFLAKE,TOTAL_REVENUE_PEER,TOTAL_REVENUE_SNOWFLAKE,NET_INCOME_PEER,NET_INCOME_SNOWFLAKE,OPERATING_INCOME_PEER,OPERATING_INCOME_SNOWFLAKE,FREE_CASH_FLOW_PEER,FREE_CASH_FLOW_SNOWFLAKE,ARR_PEER,ARR_SNOWFLAKE,REMAINING_PERFORMANCE_OBLIGATIONS_PEER,REMAINING_PERFORMANCE_OBLIGATIONS_SNOWFLAKE
0,AMZN,7.366010,8.931751,158877.0,734.2,15328.0,NaN,17411.0,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
1,DDOG,6.927011,8.931751,690.0,734.2,62.9,NaN,NaN,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
2,GOOGL,4.160865,8.931751,88268.0,734.2,26301.0,NaN,28521.0,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
5,ORCL,2.619581,8.931751,13280.0,734.2,2400.0,NaN,NaN,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
3,MDB,2.147239,8.931751,432.9,734.2,6.4,NaN,NaN,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
4,MSFT,-0.261206,8.931751,61858.0,734.2,21939.0,NaN,27581.0,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
6,TDC,-3.083700,8.931751,440.0,734.2,19.0,NaN,NaN,NaN,NaN,82.9,1450.0,NaN,NaN,3900.0

In [14]:
comparison.columns

Index(['COMPANY_ID', 'FISCAL_YEAR', 'FISCAL_QUARTER', 'ARR_PEER',
       'AWS_REVENUE', 'AZURE_GROWTH', 'CLOUD_REVENUE',
       'CUSTOMERS_1M_PLUS_PEER', 'FREE_CASH_FLOW_PEER', 'GROSS_MARGIN',
       'NET_INCOME_PEER', 'NET_REVENUE_RETENTION_RATE_PEER',
       'OPERATING_INCOME_PEER', 'PRODUCT_GROSS_MARGIN', 'PRODUCT_REVENUE',
       'REMAINING_PERFORMANCE_OBLIGATIONS_PEER', 'TOTAL_REVENUE_PEER',
       'REVENUE_GROWTH_QOQ_PEER', 'REVENUE_GROWTH_QOQ_SNOWFLAKE',
       'TOTAL_REVENUE_SNOWFLAKE', 'NET_INCOME_SNOWFLAKE',
       'OPERATING_INCOME_SNOWFLAKE', 'FREE_CASH_FLOW_SNOWFLAKE',
       'CUSTOMERS_1M_PLUS_SNOWFLAKE', 'NET_REVENUE_RETENTION_RATE_SNOWFLAKE',
       'REMAINING_PERFORMANCE_OBLIGATIONS_SNOWFLAKE', 'ARR_SNOWFLAKE'],
      dtype='object', name='METRIC_NAME')

In [15]:
final = comparison[[
    "COMPANY_ID",
    "REVENUE_GROWTH_QOQ_PEER",
    "REVENUE_GROWTH_QOQ_SNOWFLAKE",
    "TOTAL_REVENUE_PEER",
    "TOTAL_REVENUE_SNOWFLAKE",
    "NET_INCOME_PEER",
    "NET_INCOME_SNOWFLAKE",
    "OPERATING_INCOME_PEER",
    "OPERATING_INCOME_SNOWFLAKE",
    "FREE_CASH_FLOW_PEER",
    "FREE_CASH_FLOW_SNOWFLAKE",
    "ARR_PEER",
    "ARR_SNOWFLAKE",
    "REMAINING_PERFORMANCE_OBLIGATIONS_PEER",
    "REMAINING_PERFORMANCE_OBLIGATIONS_SNOWFLAKE"
]]

final = final.rename(columns={
    "COMPANY_ID": "Company",
    "REVENUE_GROWTH_QOQ_PEER": "Peer QoQ Growth (%)",
    "REVENUE_GROWTH_QOQ_SNOWFLAKE": "Snowflake QoQ Growth (%)",
    "TOTAL_REVENUE_PEER": "Peer Revenue ($M)",
    "TOTAL_REVENUE_SNOWFLAKE": "Snowflake Revenue ($M)",
    "NET_INCOME_PEER": "Peer Net Income ($M)",
    "NET_INCOME_SNOWFLAKE": "Snowflake Net Income ($M)",
    "OPERATING_INCOME_PEER": "Peer Operating Income ($M)",
    "OPERATING_INCOME_SNOWFLAKE": "Snowflake Operating Income ($M)",
    "FREE_CASH_FLOW_PEER": "Peer Free Cash Flow ($M)",
    "FREE_CASH_FLOW_SNOWFLAKE": "Snowflake Free Cash Flow ($M)",
    "ARR_PEER": "Peer ARR ($M)",
    "ARR_SNOWFLAKE": "Snowflake ARR ($M)",
    "REMAINING_PERFORMANCE_OBLIGATIONS_PEER": "Peer RPO ($M)",
    "REMAINING_PERFORMANCE_OBLIGATIONS_SNOWFLAKE": "Snowflake RPO ($M)"
})

final

METRIC_NAME,Company,Peer QoQ Growth (%),Snowflake QoQ Growth (%),Peer Revenue ($M),Snowflake Revenue ($M),Peer Net Income ($M),Snowflake Net Income ($M),Peer Operating Income ($M),Snowflake Operating Income ($M),Peer Free Cash Flow ($M),Snowflake Free Cash Flow ($M),Peer ARR ($M),Snowflake ARR ($M),Peer RPO ($M),Snowflake RPO ($M)
0,AMZN,7.366010,8.931751,158877.0,734.2,15328.0,NaN,17411.0,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
1,DDOG,6.927011,8.931751,690.0,734.2,62.9,NaN,NaN,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
2,GOOGL,4.160865,8.931751,88268.0,734.2,26301.0,NaN,28521.0,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
3,MDB,2.147239,8.931751,432.9,734.2,6.4,NaN,NaN,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
4,MSFT,-0.261206,8.931751,61858.0,734.2,21939.0,NaN,27581.0,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
5,ORCL,2.619581,8.931751,13280.0,734.2,2400.0,NaN,NaN,NaN,NaN,82.9,NaN,NaN,NaN,3900.0
6,TDC,-3.083700,8.931751,440.0,734.2,19.0,NaN,NaN,NaN,NaN,82.9,1450.0,NaN,NaN,3900.0

In [16]:
growth_view = final[[
    "Company",
    "Peer QoQ Growth (%)",
    "Snowflake QoQ Growth (%)"
]]

growth_view
outperformers = growth_view[
    growth_view["Peer QoQ Growth (%)"] > growth_view["Snowflake QoQ Growth (%)"]
]

outperformers
laggards = growth_view[
    growth_view["Peer QoQ Growth (%)"] < growth_view["Snowflake QoQ Growth (%)"]
]

laggards

METRIC_NAME Company  Peer QoQ Growth (%)  Snowflake QoQ Growth (%)
0              AMZN             7.366010                  8.931751
1              DDOG             6.927011                  8.931751
2             GOOGL             4.160865                  8.931751
3               MDB             2.147239                  8.931751
4              MSFT            -0.261206                  8.931751
5              ORCL             2.619581                  8.931751
6               TDC            -3.083700                  8.931751

In [17]:
question = (
    "Snowflake delivered stronger quarter-over-quarter revenue growth than most peers this quarter. "
    "Can you discuss whats driving this outperformance and whether AI workloads or enterprise "
    "platform consolidation are contributing to accelerated demand?"
)

question

'Snowflake delivered stronger quarter-over-quarter revenue growth than most peers this quarter. Can you discuss whats driving this outperformance and whether AI workloads or enterprise platform consolidation are contributing to accelerated demand?'

In [18]:
snow_growth = growth_view["Snowflake QoQ Growth (%)"].iloc[0]
snow_revenue = final["Snowflake Revenue ($M)"].iloc[0]
snow_rpo = final["Snowflake RPO ($M)"].iloc[0]

answer = f"""
Snowflake delivered strong sequential performance this quarter (Q3 2024), with revenue of ${snow_revenue}M,
representing {snow_growth:.1f}% quarter-over-quarter growth.

The company continues to see robust customer demand, supported by remaining performance obligations
of ${snow_rpo}M, which provides strong visibility into future revenue.

Management attributes the outperformance to growing adoption of AI-driven workloads, increased
enterprise platform consolidation, and strong execution across large customer accounts.
"""

print(answer)

Snowflake delivered strong sequential performance this quarter (Q3 2024), with revenue of $734.2M,
representing 8.9% quarter-over-quarter growth.

The company continues to see robust customer demand, supported by remaining performance obligations
of $3900.0M, which provides strong visibility into future revenue.

Management attributes the outperformance to growing adoption of AI-driven workloads, increased
enterprise platform consolidation, and strong execution across large customer accounts.

In [19]:
def generate_growth_questions(growth_table):
    qs = []

    for _, row in growth_table.iterrows():
        peer = row["Company"]
        peer_g = row["Peer QoQ Growth (%)"]
        snow_g = row["Snowflake QoQ Growth (%)"]

        if peer_g > snow_g:
            qs.append(
                f"{peer} outpaced Snowflake in revenue growth this quarter "
                f"({peer_g:.1f}% vs {snow_g:.1f}%). What factors drove this outperformance?"
            )
        else:
            qs.append(
                f"Snowflake outgrew {peer} this quarter "
                f"({snow_g:.1f}% vs {peer_g:.1f}%). Whats driving Snowflakes relative momentum?"
            )

    return qs


questions = generate_growth_questions(growth_view)
questions
peers = ", ".join(growth_view["Company"].tolist())
snow_g = growth_view["Snowflake QoQ Growth (%)"].iloc[0]

peer_lines = []
for _, r in growth_view.iterrows():
    peer_lines.append(f"{r['Company']} {r['Peer QoQ Growth (%)']:.1f}%")
peer_summary = ", ".join(peer_lines)

final_questions = [
    f"Snowflake outgrew peers in Q3 2024 ({snow_g:.1f}% QoQ vs {peer_summary}). What are the main drivers of Snowflakes relative momentum and how sustainable is it?",
    "Some peers in this snapshot were flat-to-negative sequentially. Is Snowflakes outperformance driven by share gains, mix, or broader consumption re-acceleration?",
    "RPO for this comparison quarter is about $3.9B. How should we think about RPO conversion into near-term revenue, and are deal cycles changing?",
]

final_questions

['Snowflake outgrew peers in Q3 2024 (8.9% QoQ vs AMZN 7.4%, DDOG 6.9%, GOOGL 4.2%, MDB 2.1%, MSFT -0.3%, ORCL 2.6%, TDC -3.1%). What are the main drivers of Snowflakes relative momentum and how sustainable is it?',
 'Some peers in this snapshot were flat-to-negative sequentially. Is Snowflakes outperformance driven by share gains, mix, or broader consumption re-acceleration?',
 'RPO for this comparison quarter is about $3.9B. How should we think about RPO conversion into near-term revenue, and are deal cycles changing?']

In [20]:
peer_summary = ", ".join(
    growth_view.sort_values("Peer QoQ Growth (%)", ascending=False)
    .head(3)
    .apply(lambda r: f"{r['Company']} ({r['Peer QoQ Growth (%)']:.1f}%)", axis=1)
    .tolist()
)

snow_g = growth_view["Snowflake QoQ Growth (%)"].iloc[0]
snow_rpo_b = snow_rpo / 1000

questions = [
    f"Peer check: Snowflake grew {snow_g:.1f}% QoQ versus {peer_summary}. What drove Snowflakes relative momentum this quarter (AI workloads, platform consolidation, easing optimization), and what is sustainable into next quarter?",
    f"Demand visibility: RPO is about ${snow_rpo_b:.1f}B for this quarter (Q3 2024). How should we think about RPO conversion to near-term revenue growth, and are deal sizes/durations changing?",
    "Macro sensitivity: If IT budgets tighten or cloud optimization returns, what leading indicators (consumption, net expansion, pipeline) would you watch that could slow sequential growth?"
]

questions

['Peer check: Snowflake grew 8.9% QoQ versus AMZN (7.4%), DDOG (6.9%), GOOGL (4.2%). What drove Snowflakes relative momentum this quarter (AI workloads, platform consolidation, easing optimization), and what is sustainable into next quarter?',
 'Demand visibility: RPO is about $3.9B for this quarter (Q3 2024). How should we think about RPO conversion to near-term revenue growth, and are deal sizes/durations changing?',
 'Macro sensitivity: If IT budgets tighten or cloud optimization returns, what leading indicators (consumption, net expansion, pipeline) would you watch that could slow sequential growth?']

In [21]:
snow_rev_m = snowflake_metrics.loc[
    (snowflake_metrics["FISCAL_YEAR"] == shared_fy) &
    (snowflake_metrics["FISCAL_QUARTER"] == shared_fq),
    "TOTAL_REVENUE_M"
].values[0]

snow_rpo_m = snowflake_metrics.loc[
    (snowflake_metrics["FISCAL_YEAR"] == shared_fy) &
    (snowflake_metrics["FISCAL_QUARTER"] == shared_fq),
    "RPO_M"
].values[0]

snow_rpo_b = snow_rpo_m / 1000

answers = [
f"""
**Answer (Peer check):**
In this quarter Snowflake delivered {snow_g:.1f}% QoQ growth on revenue of ${snow_rev_m:.1f}M, outperforming the peer set in our snapshot.
Management would attribute relative strength to execution in large enterprise workloads and incremental AI-driven consumption, while noting that peer comparisons can reflect fiscal timing and mix.
Key forward-looking focus: whether consumption re-acceleration persists and whether AI workloads expand usage beyond baseline storage/compute.
""",
f"""
**Answer (Demand visibility / RPO):**
RPO for the quarter is about ${snow_rpo_b:.1f}B (i.e., ${snow_rpo_m:.0f}M), which supports visibility into future revenue conversion.
Exec messaging: emphasize stability of committed demand, plus the levers that convert backlog to revenue (deployments, expansions, renewals, duration).
Watchouts: longer deal cycles or customers optimizing usage could slow conversion pace even if backlog remains healthy.
""",
f"""
**Answer (Macro sensitivity):**
In a tighter macro, consumption-based models are most exposed to optimization and delayed expansions.
Exec messaging: highlight monitoring of leading indicators such as consumption trends, net expansion/retention, pipeline quality, and time-to-close for large deals.
Operationally, the company can protect margins via infrastructure efficiency and disciplined go-to-market investment while prioritizing high-return AI and consolidation workloads.
"""
]

for q, a in zip(questions, answers):
    print("Q:", q)
    print(a)
    print("-"*80)

Q: Peer check: Snowflake grew 8.9% QoQ versus AMZN (7.4%), DDOG (6.9%), GOOGL (4.2%). What drove Snowflakes relative momentum this quarter (AI workloads, platform consolidation, easing optimization), and what is sustainable into next quarter?

**Answer (Peer check):**
In this quarter Snowflake delivered 8.9% QoQ growth on revenue of $734.2M, outperforming the peer set in our snapshot.
Management would attribute relative strength to execution in large enterprise workloads and incremental AI-driven consumption, while noting that peer comparisons can reflect fiscal timing and mix.
Key forward-looking focus: whether consumption re-acceleration persists and whether AI workloads expand usage beyond baseline storage/compute.

--------------------------------------------------------------------------------
Q: Demand visibility: RPO is about $3.9B for this quarter (Q3 2024). How should we think about RPO conversion to near-term revenue growth, and are deal sizes/durations changing?

**Answer (Demand visibility / RPO):**
RPO for the quarter is about $3.9B (i.e., $3900M), which supports visibility into future revenue conversion.
Exec messaging: emphasize stability of committed demand, plus the levers that convert backlog to revenue (deployments, expansions, renewals, duration).
Watchouts: longer deal cycles or customers optimizing usage could slow conversion pace even if backlog remains healthy.

--------------------------------------------------------------------------------
Q: Macro sensitivity: If IT budgets tighten or cloud optimization returns, what leading indicators (consumption, net expansion, pipeline) would you watch that could slow sequential growth?

**Answer (Macro sensitivity):**
In a tighter macro, consumption-based models are most exposed to optimization and delayed expansions.
Exec messaging: highlight monitoring of leading indicators such as consumption trends, net expansion/retention, pipeline quality, and time-to-close for large deals.
Operationally, the company can protect margins via infrastructure efficiency and disciplined go-to-market investment while prioritizing high-return AI and consolidation workloads.

--------------------------------------------------------------------------------

In [22]:
notes_text = analyst_ratings["NOTES"].dropna().astype(str).tolist()

TRANSCRIPT_COL = None
for c in transcripts.columns:
    if "text" in c.lower() or "content" in c.lower() or "body" in c.lower():
        TRANSCRIPT_COL = c
        break

print("Using transcript column:", TRANSCRIPT_COL)

transcript_text = []
if TRANSCRIPT_COL:
    transcript_text = transcripts[TRANSCRIPT_COL].dropna().astype(str).tolist()

corpus = notes_text + transcript_text
len(corpus)

Using transcript column: TRANSCRIPT_TEXT

55

In [23]:
topic_keywords = {
    "ai": ["ai", "gen ai", "llm", "cortex", "model", "machine learning", "vector", "copilot"],
    "pricing": ["pricing", "discount", "pressure", "competition", "rates", "seat", "cost"],
    "macro": ["macro", "economy", "budgets", "optimization", "spending", "headwinds", "slowdown"],
    "competition": ["aws", "azure", "google", "oracle", "datadog", "mongodb", "share"],
    "demand_visibility": ["rpo", "backlog", "pipeline", "duration", "renewal", "commitment"],
    "profitability": ["margin", "free cash flow", "fcf", "profit", "efficiency"]
}

In [24]:
import re
from collections import Counter, defaultdict

def clean(text):
    return re.sub(r"[^a-zA-Z0-9 ]", " ", text.lower())

scores = defaultdict(int)

for doc in corpus:
    text = clean(doc)
    for topic, words in topic_keywords.items():
        for w in words:
            scores[topic] += text.count(w)

topic_strength = pd.Series(scores).sort_values(ascending=False)
topic_strength

ai                   5131
competition          1612
profitability         731
pricing               514
demand_visibility     412
macro                 198
dtype: int64

In [25]:
top_topics = topic_strength.head(3)
top_topics

ai               5131
competition      1612
profitability     731
dtype: int64

In [26]:
snow_g = growth_view["Snowflake QoQ Growth (%)"].iloc[0]

peer_summary = ", ".join(
    growth_view.sort_values("Peer QoQ Growth (%)", ascending=False)
    .head(3)
    .apply(lambda r: f"{r['Company']} ({r['Peer QoQ Growth (%)']:.1f}%)", axis=1)
    .tolist()
)

snow_rpo_b = snow_rpo_m / 1000

def generate_ai_questions(top_topics):
    qs = []

    qs.append(
        f"Peer performance: Snowflake grew {snow_g:.1f}% QoQ versus {peer_summary}. "
        "What operational or product drivers explain Snowflakes relative outperformance this quarter?"
    )

    for topic in top_topics.index:
        if topic == "ai":
            qs.append("AI adoption is a dominant theme in analyst commentary. How is Snowflake monetizing AI workloads and what early traction metrics matter most?")
        if topic == "macro":
            qs.append("Macro and cloud spend optimization remain in focus. What signals are you seeing in consumption trends and enterprise budgets?")
        if topic == "pricing":
            qs.append("Competitive pricing pressure is frequently mentioned. Are discounts increasing, and how is Snowflake protecting margins?")
        if topic == "demand_visibility":
            qs.append(f"RPO is roughly ${snow_rpo_b:.1f}B this quarter. How should investors think about backlog conversion and deal duration trends?")
        if topic == "competition":
            qs.append("Peers and hyperscalers are aggressively investing. Where is Snowflake gaining or losing share by workload type?")
        if topic == "profitability":
            qs.append("Profitability and free cash flow are key themes. What efficiency levers are driving margin improvements?")

    return list(dict.fromkeys(qs))[:5]

questions_aiish = generate_ai_questions(top_topics)
questions_aiish

['Peer performance: Snowflake grew 8.9% QoQ versus AMZN (7.4%), DDOG (6.9%), GOOGL (4.2%). What operational or product drivers explain Snowflakes relative outperformance this quarter?',
 'AI adoption is a dominant theme in analyst commentary. How is Snowflake monetizing AI workloads and what early traction metrics matter most?',
 'Peers and hyperscalers are aggressively investing. Where is Snowflake gaining or losing share by workload type?',
 'Profitability and free cash flow are key themes. What efficiency levers are driving margin improvements?']

In [27]:
def ai_answer(q):
    base = (
        f"Snowflake delivered ${snow_rev_m:.1f}M revenue with {snow_g:.1f}% QoQ growth this quarter, "
        f"supported by RPO of about ${snow_rpo_b:.1f}B. "
        f"Top AI-extracted themes from unstructured data were: "
        + ", ".join(top_topics.index) + ". "
    )

    if "AI" in q or "ai" in q.lower():
        return base + "Management should emphasize expanding AI workloads, consumption leverage, and early adoption metrics."
    if "macro" in q.lower():
        return base + "Management should acknowledge optimization behavior while highlighting resilience in large enterprise demand."
    if "pricing" in q.lower():
        return base + "Management should frame pricing discipline and differentiation as margin protection tools."
    if "RPO" in q:
        return base + "Management should explain backlog conversion drivers and renewal stability."
    if "competition" in q.lower():
        return base + "Management should cite competitive wins and workload-level differentiation."
    return base + "Management should link performance drivers to repeatable growth levers."

qa_df = pd.DataFrame({
    "Question": questions_aiish,
    "AI-Generated Answer": [ai_answer(q) for q in questions_aiish]
})

qa_df

,Question,AI-Generated Answer
0,Peer performance: Snowflake grew 8.9% QoQ vers...,Snowflake delivered $734.2M revenue with 8.9% ...
1,AI adoption is a dominant theme in analyst com...,Snowflake delivered $734.2M revenue with 8.9% ...
2,Peers and hyperscalers are aggressively invest...,Snowflake delivered $734.2M revenue with 8.9% ...
3,Profitability and free cash flow are key theme...,Snowflake delivered $734.2M revenue with 8.9% ...

## Streamlit Application Code

GitHub App Script:  
https://github.com/banffjiang/snow/blob/main/app.py

## Link to Streamlit App

https://snow-ai-challenge.streamlit.app/